body{
    background-color: #346c4d;
    margin: 0 10px 0 30px;

}
.navbar{
 color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
  }

.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 17px;
    font-weight: 500;
    margin-right: 20px;
}

.navbar h2{
    margin-left: 10px;
}

.flex-container {
    color: white;
    padding-top:30px ;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10px;
  }

  button{
    border-radius: 20px;
    border: 2px solid white;
    width: 200px;
    height: 30px;
    background-color:#346c4d ;
    color: white;
    font-weight: bold;
 }

 button:hover{
    background-color: white;
    color: #346c4d;
 }



  




